In [12]:
import sqlite3
from sqlalchemy import create_engine
import pandas as pd
import datetime

In [8]:
db_address = 'sqlite:///../../data/db/crypto.db'
asset_ticket = 'BTCUSDT'
timestamp = '1d'

In [9]:
engine = create_engine(db_address, echo=True)
sqlite_connection = engine.connect()

In [10]:
input_tbl_name = "tbl_raw_binance" + "_" + asset_ticket + "_" + timestamp

sql_command = "SELECT * FROM " + input_tbl_name

df = pd.read_sql(sql_command, sqlite_connection)

2023-01-18 13:34:08,335 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM tbl_raw_binance_BTCUSDT_1d")
2023-01-18 13:34:08,335 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-01-18 13:34:08,336 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM tbl_raw_binance_BTCUSDT_1d")
2023-01-18 13:34:08,337 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-01-18 13:34:08,337 INFO sqlalchemy.engine.Engine SELECT * FROM tbl_raw_binance_BTCUSDT_1d
2023-01-18 13:34:08,338 INFO sqlalchemy.engine.Engine [raw sql] ()

In [11]:
df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,formatted_open_time,formatted_close_time,date,upper_shadow,lower_shadow,real_body
0,1502928000000,4261.48,4485.39,4200.74,4285.08,795.150377,1503014399999,3.454770e+06,3427,616.248541,2.678216e+06,0,2017-08-17 00:00:00.000000,2017-08-17 23:59:59.999000,2017-08-18 00:00:00.000000,200.31,60.74,23.60
1,1503014400000,4285.08,4371.52,3938.77,4108.37,1199.888264,1503100799999,5.086958e+06,5233,972.868710,4.129123e+06,0,2017-08-18 00:00:00.000000,2017-08-18 23:59:59.999000,2017-08-19 00:00:00.000000,86.44,169.60,176.71
2,1503100800000,4108.37,4184.69,3850.00,4139.98,381.309763,1503187199999,1.549484e+06,2153,274.336042,1.118002e+06,0,2017-08-19 00:00:00.000000,2017-08-19 23:59:59.999000,2017-08-20 00:00:00.000000,44.71,258.37,31.61
3,1503187200000,4120.98,4211.08,4032.62,4086.29,467.083022,1503273599999,1.930364e+06,2321,376.795947,1.557401e+06,0,2017-08-20 00:00:00.000000,2017-08-20 23:59:59.999000,2017-08-21 00:00:00.000000,90.10,53.67,34.69
4,1503273600000,4069.13,4119.62,3911.79,4016.00,691.743060,1503359999999,2.797232e+06,3972,557.356107,2.255663e+06,0,2017-08-21 00:00:00.000000,2017-08-21 23:59:59.999000,2017-08-22 00:00:00.000000,50.49,104.21,53.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,1672185600000,16706.06,16785.19,16465.33,16547.31,193037.565770,1672271999999,3.210894e+09,5465468,96118.187170,1.598768e+09,0,2022-12-28 00:00:00.000000,2022-12-28 23:59:59.999000,2022-12-29 00:00:00.000000,79.13,81.98,158.75
1960,1672272000000,16547.32,16664.41,16488.91,16633.47,160998.471580,1672358399999,2.671666e+09,4553877,80977.624430,1.343800e+09,0,2022-12-29 00:00:00.000000,2022-12-29 23:59:59.999000,2022-12-30 00:00:00.000000,30.94,58.41,86.15
1961,1672358400000,16633.47,16677.35,16333.00,16607.48,164916.311740,1672444799999,2.726831e+09,4310415,82170.474900,1.358631e+09,0,2022-12-30 00:00:00.000000,2022-12-30 23:59:59.999000,2022-12-31 00:00:00.000000,43.88,274.48,25.99
1962,1672444800000,16607.48,16644.09,16470.00,16542.40,114490.428640,1672531199999,1.897048e+09,3344374,57021.069190,9.448344e+08,0,2022-12-31 00:00:00.000000,2022-12-31 23:59:59.999000,2023-01-01 00:00:00.000000,36.61,72.40,65.08
1963,1672531200000,16541.77,16628.00,16499.01,16616.75,96925.413740,1672617599999,1.604794e+09,3218355,48548.781680,8.038417e+08,0,2023-01-01 00:00:00.000000,2023-01-01 23:59:59.999000,2023-01-02 00:00:00.000000,11.25,42.76,74.98

In [13]:
start_date = "1 Jan, 2022"
end_date = "2 Jan, 2022"

In [21]:
input_tbl_name = "tbl_raw_binance" + "_" + asset_ticket + "_" + timestamp

sql_command = "SELECT * FROM " + input_tbl_name

if(start_date!="" and end_date!=""):
    
    sd = datetime.datetime.strptime(start_date,'%d %b, %Y').strftime('%Y-%m-%d')
    sd_dt = datetime.datetime.strptime(sd,'%Y-%m-%d')
    sd_dt = sd_dt + datetime.timedelta(days=-180)
    sd = sd_dt.strftime('%Y-%m-%d')
    ed = datetime.datetime.strptime(end_date,'%d %b, %Y').strftime('%Y-%m-%d')

    sql_append = " WHERE " + "date(date) >= " + "'" + sd + "'" + " AND date(date) <= " + "'" + ed + "'"
    sql_command = sql_command + sql_append

2021-07-05
2022-01-02

In [22]:
df = pd.read_sql(sql_command, sqlite_connection)

2023-01-18 13:42:35,427 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM tbl_raw_binance_BTCUSDT_1d WHERE date(date) >= '2021-07-05' AND date(date) <= '2022-01-02'")
2023-01-18 13:42:35,428 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-01-18 13:42:35,429 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM tbl_raw_binance_BTCUSDT_1d WHERE date(date) >= '2021-07-05' AND date(date) <= '2022-01-02'")
2023-01-18 13:42:35,430 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-01-18 13:42:35,430 INFO sqlalchemy.engine.Engine SELECT * FROM tbl_raw_binance_BTCUSDT_1d WHERE date(date) >= '2021-07-05' AND date(date) <= '2022-01-02'
2023-01-18 13:42:35,431 INFO sqlalchemy.engine.Engine [raw sql] ()

In [23]:
df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,formatted_open_time,formatted_close_time,date,upper_shadow,lower_shadow,real_body
0,1625356800000,34669.12,35967.85,34357.15,35286.51,43703.475789,1625443199999,1.544458e+09,1164970,21180.335069,7.481874e+08,0,2021-07-04 00:00:00.000000,2021-07-04 23:59:59.999000,2021-07-05 00:00:00.000000,681.34,311.97,617.39
1,1625443200000,35288.13,35293.78,33125.55,33690.14,64123.874245,1625529599999,2.183406e+09,1109367,31489.855372,1.071967e+09,0,2021-07-05 00:00:00.000000,2021-07-05 23:59:59.999000,2021-07-06 00:00:00.000000,5.65,564.59,1597.99
2,1625529600000,33690.15,35118.88,33532.00,34220.01,58210.596349,1625615999999,1.991691e+09,1184687,27801.954493,9.512690e+08,0,2021-07-06 00:00:00.000000,2021-07-06 23:59:59.999000,2021-07-07 00:00:00.000000,898.87,158.15,529.86
3,1625616000000,34220.02,35059.09,33777.77,33862.12,53807.521675,1625702399999,1.857658e+09,1041416,27294.923927,9.419846e+08,0,2021-07-07 00:00:00.000000,2021-07-07 23:59:59.999000,2021-07-08 00:00:00.000000,839.07,84.35,357.90
4,1625702400000,33862.11,33929.64,32077.00,32875.71,70136.480320,1625788799999,2.304973e+09,1257892,35104.655225,1.152928e+09,0,2021-07-08 00:00:00.000000,2021-07-08 23:59:59.999000,2021-07-09 00:00:00.000000,67.53,798.71,986.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,1640649600000,50701.44,50704.05,47313.01,47543.74,45853.339240,1640735999999,2.242102e+09,1345774,21743.170130,1.063172e+09,0,2021-12-28 00:00:00.000000,2021-12-28 23:59:59.999000,2021-12-29 00:00:00.000000,2.61,230.73,3157.70
178,1640736000000,47543.74,48139.08,46096.99,46464.66,39498.870000,1640822399999,1.873786e+09,1114074,19089.619100,9.059697e+08,0,2021-12-29 00:00:00.000000,2021-12-29 23:59:59.999000,2021-12-30 00:00:00.000000,595.34,367.67,1079.08
179,1640822400000,46464.66,47900.00,45900.00,47120.87,30352.295690,1640908799999,1.428756e+09,910157,14886.523750,7.007923e+08,0,2021-12-30 00:00:00.000000,2021-12-30 23:59:59.999000,2021-12-31 00:00:00.000000,779.13,564.66,656.21
180,1640908800000,47120.88,48548.26,45678.00,46216.93,34937.997960,1640995199999,1.650716e+09,1059783,17315.542300,8.183317e+08,0,2021-12-31 00:00:00.000000,2021-12-31 23:59:59.999000,2022-01-01 00:00:00.000000,1427.38,538.93,903.95
181,1640995200000,46216.93,47954.63,46208.37,47722.65,19604.463250,1641081599999,9.241552e+08,714899,9942.366790,4.687387e+08,0,2022-01-01 00:00:00.000000,2022-01-01 23:59:59.999000,2022-01-02 00:00:00.000000,231.98,8.56,1505.72