# Get Data using python-binance

## Import relevant libraries

In [1]:
from binance.client import Client
from dotenv import load_dotenv
import os
import pandas as pd
import datetime

## Set some 'global' parameters

In [2]:
load_dotenv()

True

## Get the data

### Create the client

In [3]:
client = Client(os.environ["BINANCE_API_KEY"], os.environ["BINANCE_SECRET_KEY"])

### Parameters

In [4]:
asset_ticket = "BTCUSDT"
timestamp = Client.KLINE_INTERVAL_1MINUTE
start_date = "1 Jan, 2020"
end_date = "31 Dec, 2021"

### Get the data

In [5]:
klines = client.get_historical_klines(asset_ticket, timestamp, start_date, end_date)

### Convert list of lists to Pandas Datafrae

In [6]:
df_klines = pd.DataFrame(klines, columns = ['open_time', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volumne', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])

### Check the data

In [7]:
df_klines.sample(5)

,open_time,open,high,low,close,volume,close_time,quote_asset_volumne,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
636260,1616097660000,57084.88000000,57280.71000000,57023.00000000,57248.72000000,104.46951700,1616097719999,5967781.98704099,2865,50.31902500,2874304.69805179,0
143210,1586461920000,7275.32000000,7275.81000000,7268.93000000,7268.93000000,17.16189300,1586461979999,124786.40938260,427,5.54832600,40340.65759386,0
599303,1613874840000,56502.14000000,56502.14000000,56463.16000000,56465.28000000,20.89539100,1613874899999,1180293.47817414,638,10.86530000,613724.14144305,0
130689,1585710660000,6342.75000000,6351.60000000,6342.45000000,6348.39000000,88.07885800,1585710719999,559070.77634939,704,49.96366600,317159.14975683,0
887062,1631188020000,46387.79000000,46408.05000000,46350.31000000,46367.73000000,63.63752000,1631188079999,2952091.50851840,969,33.87232000,1571525.99683360,0

In [8]:
df_klines.describe()

          open_time    close_time  number_of_trades
count  1.048956e+06  1.048956e+06      1.048956e+06
mean   1.609381e+12  1.609381e+12      9.380391e+02
std    1.820755e+10  1.820755e+10      1.016275e+03
min    1.577837e+12  1.577837e+12      0.000000e+00
25%    1.593625e+12  1.593625e+12      3.980000e+02
50%    1.609381e+12  1.609381e+12      6.820000e+02
75%    1.625151e+12  1.625151e+12      1.144000e+03
max    1.640909e+12  1.640909e+12      5.518100e+04

In [9]:
df_klines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048956 entries, 0 to 1048955
Data columns (total 12 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   open_time                     1048956 non-null  int64
 1   open                          1048956 non-null  object
 2   high                          1048956 non-null  object
 3   low                           1048956 non-null  object
 4   close                         1048956 non-null  object
 5   volume                        1048956 non-null  object
 6   close_time                    1048956 non-null  int64
 7   quote_asset_volumne           1048956 non-null  object
 8   number_of_trades              1048956 non-null  int64
 9   taker_buy_base_asset_volume   1048956 non-null  object
 10  taker_buy_quote_asset_volume  1048956 non-null  object
 11  ignore                        1048956 non-null  object
dtypes: int64(3), object(9)
memory usage: 96.0+ MB

In [10]:
print(df_klines.isnull().sum())

open_time                       0
open                            0
high                            0
low                             0
close                           0
volume                          0
close_time                      0
quote_asset_volumne             0
number_of_trades                0
taker_buy_base_asset_volume     0
taker_buy_quote_asset_volume    0
ignore                          0
dtype: int64

## Feature Engineering

### Copy original data

In [11]:
df_klines_copy = df_klines.copy()

### Convert 'object' to float pandas

In [12]:
df_klines_copy['open'] = pd.to_numeric(df_klines_copy['open'])
df_klines_copy['high'] = pd.to_numeric(df_klines_copy['high'])
df_klines_copy['low'] = pd.to_numeric(df_klines_copy['low'])
df_klines_copy['close'] = pd.to_numeric(df_klines_copy['close'])
df_klines_copy['volume'] = pd.to_numeric(df_klines_copy['volume'])

### Convert the 'open_time' and 'close_time' to a Pandas DataTime format

In [13]:
df_klines_copy['formatted_open_time'] = pd.to_datetime(df_klines_copy['open_time'], infer_datetime_format=True, unit="ms")
df_klines_copy['formatted_close_time'] = pd.to_datetime(df_klines_copy['close_time'], infer_datetime_format=True, unit="ms")

### Check the data - head and tail

In [14]:
df_klines_copy.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volumne,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,formatted_open_time,formatted_close_time
0,1577836800000,7195.24,7196.25,7183.14,7186.68,51.642812,1577836859999,371233.51835535,493,19.59823000,140888.41428273,0,2020-01-01 00:00:00,2020-01-01 00:00:59.999
1,1577836860000,7187.67,7188.06,7182.20,7184.03,7.248148,1577836919999,52080.12778780,135,2.03177200,14599.21192429,0,2020-01-01 00:01:00,2020-01-01 00:01:59.999
2,1577836920000,7184.41,7184.71,7180.26,7182.43,11.681677,1577836979999,83903.74163545,202,5.47924400,39357.08177646,0,2020-01-01 00:02:00,2020-01-01 00:02:59.999
3,1577836980000,7183.83,7188.94,7182.49,7185.94,10.025391,1577837039999,72033.22664851,136,3.29496600,23680.57192367,0,2020-01-01 00:03:00,2020-01-01 00:03:59.999
4,1577837040000,7185.54,7185.54,7178.64,7179.78,14.911105,1577837099999,107066.52182466,161,2.36903300,17012.01513816,0,2020-01-01 00:04:00,2020-01-01 00:04:59.999

In [15]:
df_klines_copy.tail()

,open_time,open,high,low,close,volume,close_time,quote_asset_volumne,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,formatted_open_time,formatted_close_time
1048951,1640908560000,47098.19,47147.14,47098.18,47134.56,6.49057,1640908619999,305861.62689390,387,4.02327000,189596.50698900,0,2021-12-30 23:56:00,2021-12-30 23:56:59.999
1048952,1640908620000,47134.56,47161.69,47129.96,47144.56,4.78281,1640908679999,225491.37276450,324,1.69518000,79919.64525880,0,2021-12-30 23:57:00,2021-12-30 23:57:59.999
1048953,1640908680000,47144.56,47147.89,47122.96,47139.98,4.15772,1640908739999,195959.99178350,249,1.43431000,67601.82305590,0,2021-12-30 23:58:00,2021-12-30 23:58:59.999
1048954,1640908740000,47139.98,47141.73,47116.71,47120.87,3.97618,1640908799999,187407.57288700,336,0.88827000,41866.91589040,0,2021-12-30 23:59:00,2021-12-30 23:59:59.999
1048955,1640908800000,47120.88,47121.30,47080.00,47091.29,14.37694,1640908859999,677226.18253680,514,3.85955000,181772.37063260,0,2021-12-31 00:00:00,2021-12-31 00:00:59.999

### Create the 'upper_shadow', 'lower_shadow' and 'real_body' values (to compose the CURL)

In [16]:
def create_curl_values(df):
    try:
        results_upper_shadow = []
        results_lower_shadow = []
        results_real_body = []
        for index, row in df.iterrows():
            if row.open > row.close:
                results_upper_shadow.append(row.high - row.open)
                results_lower_shadow.append(row.close - row.low)
                results_real_body.append(row.open - row.close)
            else:
                results_upper_shadow.append(row.high - row.close)
                results_lower_shadow.append(row.open - row.low)
                results_real_body.append(row.close - row.open)

        df['upper_shadow'] = results_upper_shadow
        df['lower_shadow'] = results_lower_shadow
        df['real_body'] = results_real_body

        return df

    except Exception as e:
        print(row.formatted_open_time)
        print(e)

In [17]:
df_klines_copy = create_curl_values(df_klines_copy)

### Check the data - head and tail

In [18]:
df_klines_copy.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volumne,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,formatted_open_time,formatted_close_time,upper_shadow,lower_shadow,real_body
0,1577836800000,7195.24,7196.25,7183.14,7186.68,51.642812,1577836859999,371233.51835535,493,19.59823000,140888.41428273,0,2020-01-01 00:00:00,2020-01-01 00:00:59.999,1.01,3.54,8.56
1,1577836860000,7187.67,7188.06,7182.20,7184.03,7.248148,1577836919999,52080.12778780,135,2.03177200,14599.21192429,0,2020-01-01 00:01:00,2020-01-01 00:01:59.999,0.39,1.83,3.64
2,1577836920000,7184.41,7184.71,7180.26,7182.43,11.681677,1577836979999,83903.74163545,202,5.47924400,39357.08177646,0,2020-01-01 00:02:00,2020-01-01 00:02:59.999,0.30,2.17,1.98
3,1577836980000,7183.83,7188.94,7182.49,7185.94,10.025391,1577837039999,72033.22664851,136,3.29496600,23680.57192367,0,2020-01-01 00:03:00,2020-01-01 00:03:59.999,3.00,1.34,2.11
4,1577837040000,7185.54,7185.54,7178.64,7179.78,14.911105,1577837099999,107066.52182466,161,2.36903300,17012.01513816,0,2020-01-01 00:04:00,2020-01-01 00:04:59.999,0.00,1.14,5.76

In [19]:
df_klines_copy.tail()

,open_time,open,high,low,close,volume,close_time,quote_asset_volumne,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,formatted_open_time,formatted_close_time,upper_shadow,lower_shadow,real_body
1048951,1640908560000,47098.19,47147.14,47098.18,47134.56,6.49057,1640908619999,305861.62689390,387,4.02327000,189596.50698900,0,2021-12-30 23:56:00,2021-12-30 23:56:59.999,12.58,0.01,36.37
1048952,1640908620000,47134.56,47161.69,47129.96,47144.56,4.78281,1640908679999,225491.37276450,324,1.69518000,79919.64525880,0,2021-12-30 23:57:00,2021-12-30 23:57:59.999,17.13,4.60,10.00
1048953,1640908680000,47144.56,47147.89,47122.96,47139.98,4.15772,1640908739999,195959.99178350,249,1.43431000,67601.82305590,0,2021-12-30 23:58:00,2021-12-30 23:58:59.999,3.33,17.02,4.58
1048954,1640908740000,47139.98,47141.73,47116.71,47120.87,3.97618,1640908799999,187407.57288700,336,0.88827000,41866.91589040,0,2021-12-30 23:59:00,2021-12-30 23:59:59.999,1.75,4.16,19.11
1048955,1640908800000,47120.88,47121.30,47080.00,47091.29,14.37694,1640908859999,677226.18253680,514,3.85955000,181772.37063260,0,2021-12-31 00:00:00,2021-12-31 00:00:59.999,0.42,11.29,29.59

## Export the Data

### Export parameters

In [20]:
export_path = "../data"
export_filename = "binance" + \
                  "_" + asset_ticket + \
                  "_" + timestamp + \
                  "_from_" + datetime.datetime.strptime(start_date,'%d %b, %Y').strftime('%Y_%m_%d') + \
                  "_to_" + datetime.datetime.strptime(end_date,'%d %b, %Y').strftime('%Y_%m_%d')
export_extension = ".csv"
full_export_path = os.path.join(export_path, export_filename + export_extension)

### Export

In [21]:
df_klines_copy.to_csv(full_export_path, index=False)